// @use '../app.scss' as *;

// // #cat-page-detail{
// //     height: 100vh;
// //     background-color: var(--background);
// //     color: var(--primary-color);
// // }

.cat-detail-card {
  background-color: var(--card-bg);
  box-shadow: 0 2px 20px var(--card-shadow);
  border-radius: 1rem;
  padding: 2rem;
  max-width: 900px;
  margin: 2rem auto;
  color: var(--primary-color);
  position: relative;
}

#img-map{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1%;
  align-items: stretch;
}

#map3 { 
  height: 100%;
  width: 100%;
}

.cat-header {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid var(--hover-color);
  padding-bottom: 0.5rem;
}

.cat-title {
  font-size: 1.75rem;
  margin: 0;
}

.cat-date {
  font-size: 0.875rem;
  color: var(--text-muted);
}

.cat-content {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 1rem;
}

.cat-photo {
  flex: 1;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.cat-info {
  flex: 2 1 400px;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.cat-user {
  // font-size: 0.875rem;
  color: var(--accent-color);
}

.cat-description{
  padding: 20px;
  line-height: 1.6;
}

.comments-section {
  margin-top: 2rem;
}

.comments-section h3 {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.comment {
  background-color: var(--background);
  border-left: 3px solid var(--accent-color);
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
//   @include smooth-transition(background-color, border-color);
}

.comment-content {
  width: 100%;
  margin: 0 0 0.5rem;
  display: block;
  overflow-wrap: anywhere;
}

.comment-meta {
  font-size: 0.75rem;
  color: var(--text-muted);
}

.comment-button {
    padding: 12px 16px;
    border: none;
    border-radius: 50px;
    background-color: var(--accent-color);
    color: var(--secondary-color);
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0 4px 12px var(--card-shadow);
    transition: all 0.3s ease;

    &:hover {
        background-color: var(--hover-color);
        transform: translateY(-2px);
        box-shadow: 0 6px 16px var(--card-shadow);
    }

    &:active {
        transform: translateY(0);
    }
}

.btn-cancel{
  margin-left: 5px;
  background-color: var(--error-color);
}

input.comment-content {
  color: var(--primary-color);
  background-color: var(--background);   /* colore chiaro e soft */
  border: none;
  width: 100%;
  padding: 0.5rem 1rem;        /* spazio interno confortevole */
  font-size: 1rem;             /* dimensione testo leggibile */
  line-height: 1.5;            /* spaziatura riga migliorata */
  resize: vertical;            /* permette di ridimensionare in verticale */
  transition: border-color 0.3s ease;
}

input.comment-content:focus {
  border: none;
  outline: none;               /* rimuove il bordo di default */
}