@use 'ngx-toastr/toastr';

$font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

.toast-success {
  background-color: #0fc396;
}
.toast-error {
  background-color: #BD362F;
}
.toast-info {
  background-color: #2F96B4;
}
.toast-warning {
  background-color: #F89406;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    font-family: $font-family;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}